.formstyle {

    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: center;

    div {
        width: 100%;
        position: relative;
    }
    input {
        background: white;
        font-size: 1.2rem;
        color: rgba(27, 24, 24, 0.633);
        padding: 1.7rem 3rem;
        font-weight: 500;
        border: 1px solid #8470708b;
        border-radius: 1rem;
        outline: none;
        width: 70%;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(100%, -50%);
        color: #6d5e5efc;
        cursor: pointer;
    }
}